.posts-title {
    padding-left: 40px !important;
}

.post-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.sort-btn-grp {
    display: flex;
    align-items: center;
}

.sort-btn-grp > *:first-child{
    margin: 0 8px;

}