.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #1d87f0;
  height: 35px;
  padding: 20px;
  margin-bottom: 40px;
  color: #fff;
}

.App-title * {
  color: #fff;
  letter-spacing: 5px;
}

.App-title {
    color: #fff;
    letter-spacing: 5px;
}

.App-title *:hover {
    color: #fff;
    text-decoration: none;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
